{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Car | Track Combo</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <!-- Not necessary unless downloading bootstrap vs using CDN. <link rel="stylesheet" type="text/scss" href="{% static '/sass/styles.scss' %}">-->
    </head>

    <body>
        <!--BREAKDOWN:  
            Upon clicking a button randomly select one car and one track from a pre set list via Javascript (may start with two separate functions, then combine later)
            Minimal CSS/SCSS? styling to begin, add in later if necessary but not the purpose of this project
        -->
        <main>
            <div class="container-fluid text-center">
                <h1 style="padding-top: 20px; color: #d1292c;">iRacing Car and Track Combo Generator</h1>
                <div class="col-lg-12" style="padding: 0px;">
                    <h2 style="color: #d1292c; margin-top: 20px;">Results:</h2>
                    <div class="card bg-light">
                        <!--Outputs random track and car below-->
                        <h4 style="margin-top: 10px; color: #007bff;">Track Selection:</h4>
                        <div id="trackresult" style="font-size: larger; color: #d1292c;"></div>
                        <h4 style="margin-top: 10px; color: #007bff;">Car Selection:</h4>
                        <div id="carresult" style="font-size: larger; color: #d1292c;"></div>
                        <div class="row mx-auto">
                            <button onclick="trackAndCar()" class="btn btn-primary" style="margin-top: 10px;">Generate Random Track and Car</button>
                        </div>
                        <div class="row mx-auto" style="margin-bottom: 15px;">
                            <button onclick="clearChoices()" class="btn btn-primary" style="margin-top: 10px;">Clear Choices</button>
                        </div>
                        <!--Adding tracks and cars NOT COMPLETE-->
                        <div class="row mx-auto" style="padding-bottom: 15px;">
                            <!--Necessary to have form and csrf token??-->
                            <form method="POST">
                                <div class="row2" style="display: inline-flex;">
                                    <input class="form-control" type="text" id="newtrack" required> 
                                        <input class="btn btn-primary" onclick="addTrack()" style="margin-left: 10px;" type="button" value="Add Track"/> <!--Add functionality-->
                                </div>
                            </form>
                        </div>
                        <div class="row mx-auto" style="padding-bottom: 15px;">
                            <form method="POST">
                                <div class="row2" style="display: inline-flex;">
                                    <input class="form-control" type="text" id="newcar" required>
                                        <input onclick="addCar()" class="btn btn-primary" style="margin-left: 10px;" type="button" value="Add Car"/> <!--Add functionality-->
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <!--left "card" (aka well/card) displays track list generator. Ideally displays full list to choose from as well-->
                    <div class="col-lg-6">
                        <h4 style="color: #007bff; margin-top: 10px;">Track list:</h4>
                        <div class="card bg-light">
                            <div class="row" style="place-content: space-around; text-align: right; margin: 15px">
                                <ul id="tracks" style="list-style-type: none; padding: 0px; display: inline-grid;"></ul>
                            </div>
                            <!--Display list of tracks in data structure-->
                        </div>
                    </div>
                    <!--right "card" (aka well/card) displays car list generator.  Ideally displays full list to choose from as well-->
                    <div class="col-lg-6">
                        <h4 style="color: #007bff; margin-top: 10px;">Car list:</h4>
                        <div class="card bg-light">
                            <div class="row" style="place-content: space-around; text-align: right; margin: 15px;">
                                <ul id="cars" style="list-style-type: none; padding: 0px; display: inline-grid;"></ul>
                            </div>
                            <!--Displays list of cars in data structure-->
                        </div>
                    </div>
                </div>
                <!--This "result" section is used for displaying the results of the random generator-->
            </div>
        </main>
        <!--random.js contains functions to randomize a set of tracks and cars-->
        <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
        <script src="{% static 'js/random.js' %}"></script>
    </body>
</html>